# Dependencies
node_modules/
.pnp
.pnp.js
package-lock.json
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
.yarn/build-state.yml
.yarn/patches
.yarn/versions

# Testing
coverage/
*.log

# Production
build/
dist/
.next/
out/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Turbo
.turbo

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
